@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/sourcesanspro-extralightit-webfont.woff");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Ligth';
	src: url("../fonts/OpenSans-Light.ttf");
	font-size: 1em;
}
header {
	width: 100%;
	height: 150px;
	background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(121,9,9,1) 49%);
    z-index: 2;
    position: relative;
}
header .container {
    position: relative;
}
header .header-black {
	background: #000;
	height: 40px;
}
header #logotipo {
	position: absolute;
	top: -20px;
	width: 10%;
	height: 150px;
}
#menu {
    margin: 20px 0;
    position: absolute;
    right: -670px;
}
#menu li {
	display: inline-block;
	font-family: "OpenSans";
	margin: 12px 0;
    right: 0;
}
#menu li.search input{
	background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(121,9,9,1) 11%);
}
#menu li.search ::-webkit-input-placeholder {
    color: #FBFBFB;
    color: rgba(255, 255, 255, .5);
}
#menu li.search button{
	background: none;
	border: none;
	position: absolute;
	right: 1px;
}
#menu li.search button i{
	font-size: 14px;
}
#menu li a {
	color: #FFF;
	font-size: 16px;
	padding:  10px 25px;
}
#menu li button {
    color: #FBFBFB;
}
#banner {
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/arrasca.jpg") no-repeat;
	background-size: cover
	background-position: 0px -100px;
    top: -80px;
}
#banner h1 {
	color: #FFF;
	top: 300px;
	position: relative;
	font-size: 92px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
	font-family: 'OpenSans-Ligth';
	margin-left: 50px;
}
#banner h1 small{
	font-size: 32px;
	color: #FFF;
	display: block;
	font-family: 'OpenSans';
	font-weight: bold;
}
#news {
	position: relative;
	top: -60px;
}
#news h2 {
    color: #8E0505;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
#news hr {
	border: #000000 solid 8px;
	width: 200px;
	margin: 0 auto;
}
#news .thumbnails {
	display: inline;
	margin-top: 20px;
}
#news img {
	width: 95%;
	height: 180px;
	margin-top: 40px;
}
#news .thumbnails h3 {
	color: #3D0000;
	font-size: 18px;
	font-family: Arial;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 0;
}
#news .thumbnails time {
	color: #A7A7A7;
	font-size: 18px;
	font-family: 'OpenSans-Light';
	margin-left: 0px;
}
#estatisticas {
	background: rgb(41,35,35);
    background: linear-gradient(0deg, rgba(41,35,35,1) 0%, rgba(203,24,24,1) 100%);
    width: 100%;
    height: 200px;
    margin-top: 270px;
    text-align: center;
}
#estatisticas p{
	color: #AE841A;
	font-family: 'OpenSans-Light';
	font-size: 64px;
	margin-left: 246px;
	margin-top: 36px;
}
#estatisticas p small{
	color: #000000;
	font-family: 'OpenSans-Light';
	font-size: 24px;
	display: block;
	margin-left: 12px;
	margin-top: -20px;
}
#call-to-action {
	position: relative;
	top: -60px;
	text-align: center;
}
#call-to-action .row-max-400 {
	margin: 0 auto;
	max-width: 400px;
}
#call-to-action h2 {
    color: #8E0505;
    font-family: 'OpenSans-Light';
	font-size: 48px;
	text-align: center;
	margin-top: 100px;
}
#call-to-action hr {
	border: #000000 solid 8px;
	width: 200px;
	margin: 0 auto;
}
#call-to-action p {
	margin-top: 60px;
	margin-bottom: 40px;
	color: #000000;
}
#call-to-action .btn {
	min-width: 164px;
	height: 44px;
	line-height: 30px;
	border-radius: 0px;
}
#call-to-action .btn-vermelho {
	color: #FBFBFB;
	background-color: #E02401;
	border-color: #E02401;
	margin-left: 30px;
}
#call-to-action .btn-preto {
	color: #FBFBFB;
	background-color: #000;
	border-color: #000;
	margin-left: 120px;
}
#call-to-action .row-max-400 {
	margin: 0 auto;
	max-width: 400px;
}
footer {
	margin-top: 90px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
footer .row {
	width: 101%;
}
footer .row-preto-claro {
    height: 200px;
    background: rgb(13,11,11);
    background: linear-gradient(180deg, rgba(13,11,11,1) 0%, rgba(25,23,23,1) 100%);
}
footer .row-preto-escuro {
    height: 60px;
    background: rgb(18,17,17);
    background: linear-gradient(180deg, rgba(18,17,17,1) 0%, rgba(15,14,14,1) 100%);
    border-top: #242D37 1px solid;
}
footer p {
    line-height: 60px;
}
footer .pull-left {
	font-family: 'OpenSans-Light';
	font-size: 14px;
	color: #444;
	margin-bottom: 0px;
    float: left;
    margin-left: 20px;
}
footer .text-branco {
	color: #444;
	font-family: 'OpenSans-Light';
	font-weight: bold;
    font-size: 14px;
    float: right;
    margin-right: 20px;
}
footer .logotipo {
	position: relative;
	top: 30px;
	width: 55%;
	height: 150px;
	margin-left: 75px;
}
footer .col-md-4 {
	margin-top: 40px;
}
footer .row-cols h4 {
	font-family: Arial;
	font-size: 20px;
	color: #FBFBFB;
	padding-bottom: 16px;
	border-bottom: #FBFBFB 1px solid;
}
footer .row-cols h5 {
	color: #666;
	font-family: Arial;
	font-size: 18px;
	margin-bottom: 0;
}
footer .row-cols time {
	color: #FBFBFB;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links a {
	color: #FBFBFB;
	font-family: Arial;
	font-size: 16px;
}
footer .col-get-in-touch address {
	color: #FBFBFB;
	font-family: Arial;
	font-size: 18px;
	margin-bottom: 0;
}
footer .col-get-in-touch i {
	color: #FBFBFB;
	font-size: 14px;
	margin: 0 6px;
}
footer .col-get-in-touch p {
	line-height: 50px;
}
footer .col-get-in-touch a {
	color: #FBFBFB;
}